.interface {
	position: fixed;
	width: 100%;
	min-height: 100%;
	top: 0%;
	left: 0%;
}
.panel {
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(255,255,255,0.5);
}
.logo {
	background-image: url(../img/Caelus-logoAlpha.png);
	background-size: 150px 75px;
	background-repeat: no-repeat;
	position: inherit;
	left: 0%;
	bottom: 0%;
	width: 150px;
	height: 75px;
}
.hidden {
	display: none;
}
.checked {
	border: 1px solid rgba(255,255,255,0.8);
	margin: .5em;
	padding: .5em;
}
.bottomBar {
	position: inherit;
	height: 15%;
	width: 75%;
	bottom: 0%;
	right: 0%;
	padding: .75em;
}
.sideBar {
	top: 0%;
	width: 15%;
}
.options {
	text-align: center;
	position: absolute;
	width: 25%;
	margin-left: -12.5%;
	left: 50%;
	top: 50%;
	z-index: 10;
}
.clickable {
	display: inline;
	text-align: center;
	width: 15%;
	margin: .5em;
	text-decoration: none;
}
.clickable:hover {
	background: rgba(255,255,255,0.15);
}