.interface {
	position: fixed;
	width: 100%;
	min-height: 100%;
	top: 0%;
	left: 0%;
}
.panel {
	background: rgba(255,255,255,0.3);
	border: 1px solid rgba(255,255,255,0.5);
}
.logo {
	background-image: url(../img/Caelus-logoAlpha.png);
	background-size: 150px 75px;
	background-repeat: no-repeat;
	position: inherit;
	left: 0%;
	bottom: 0%;
	width: 150px;
	height: 75px;
}
.hidden {
	display: none;
}
.checked {
	border: 1px solid rgba(255,255,255,0.8);
	margin: .5em;
	padding: .5em;
}
.bottomBar {
	position: inherit;
	height: 15%;
	width: 75%;
	bottom: 0%;
	right: 0%;
	padding: .75em;
	line-height: 2em;
}
.sideBar {
	top: 0%;
	width: 15%;
}
.options {
	text-align: center;
	position: absolute;
	width: 25%;
	margin-left: -12.5%;
	left: 50%;
	top: 50%;
	z-index: 10;
}
.clickable {
	display: inline;
	text-align: center;
	width: 100%;
	padding: 0px;
	margin: 0px; 
	text-decoration: none;
}
.subTable {
	width: 15%;
	margin: .25em;
}
table {
	width: 100%;
}
td {
	height: 3em;
	width: 12.5%;
}
.clickable:hover {
	background: rgba(255,255,255,0.15);
}
td .clickable {
	width: 50px;
}
.success {
	background-color:  rgba(69, 123, 64, 0.3);
}
.success:hover {
	background-color:  rgba(69, 123, 64, 0.7);
}
.info {
	background-color: rgba(69, 113, 203, 0.3);
}
.info:hover {
	background-color: rgba(69, 113, 203, 0.7);
}
.alert {
	background-color: rgba(139, 110, 67, 0.4);
}
.alert:hover {
	background-color: rgba(139, 110, 67, 0.7);
}
.disabled {
	background-color: rgba(255,255,255,0.2);
	color: rgba(255,255,255,0.5);
}