.ship{
  -webkit-animation-duration: 7s;
  -webkit-animation-name: fly;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-timing-function: linear;
  position: absolute;
  left: 500px;
  top:50px;

}
/*.planet{
  height:100px;
  -webkit-animation-duration: 7s;
  -webkit-animation-name: rotate360;
  -webkit-animation-fill-mode: forwards;
  -webkit-animation-iteration-count:  infinite;
  -webkit-animation-timing-function: linear;
}*/


@-webkit-keyframes rotate360{
  from{
    transform: rotate(0deg);
  }
  to{
    transform: rotate(360deg);
  }
}

html, body {
  background: #000;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
* {
  font-family: Helvetica, 'arial';
  color: white;
}
.map {
  position: relative;
  z-index: 0;
}